.text {
    -fx-fill: white;
}

.json_curly {
    -fx-fill: white;
}

.json_property {
    -fx-fill: #b88f7b;
    -fx-font-weight: bold;
}

.json_value {
    -fx-fill: #98ce7b;
}

.json_array {
    -fx-fill: #87daf2;
}

.json_null {
    -fx-fill: #a83c3c;
    -fx-font-weight: bold;
}

.json_bool {
    -fx-fill: #5c58d9;
    -fx-font-weight: bold;
}

.json_number {
    -fx-fill: #a9a439;
}